@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.outline {
  position: absolute;
  clip: rect(0px 0px 0px 0px);
  *clip: rect 0 0 0 0;
}

input,
textarea,
button {
  outline: none;
}

mark {
  background: none;
  color: inherit;
}

.mt {
  margin-top: 50px;
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.flex-sb {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong,
b {
  font-weight: 700;
}

q,
blockquote {
  padding: 20px 0 20px 40px;
  margin: 10px 0 10px -40px;
  border-left: 1px #e0e0e0 solid;
  font: normal 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9e9e9e;
}

q a,
blockquote a {
  color: #666666 !important;
  text-decoration: underline;
}

q strong,
q b,
blockquote strong,
blockquote b {
  font-size: 12px;
  color: #757575;
}

del,
strike {
  text-decoration: line-through;
  color: #333333;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px 20px 40px;
  border-radius: 4px;
  background: #fffde7;
  font: normal 13px/16px "Courier New", Courier, monospace;
  color: #000;
}

pre strong {
  font-weight: 700;
}

a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.rte {
  font: 400 15px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}

.rte p {
  margin-bottom: 20px;
}

.rte img {
  margin-bottom: 30px;
}

.rte a {
  color: #01579b;
}

.rte a:hover {
  color: #03a9f4;
}

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {
  padding: 10px 0;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1;
}

p + .rte h1,
p + .rte h2,
p + .rte h3,
p + .rte h4,
p + .rte h5,
p + .rte h6 {
  margin-top: 20px;
}

.rte h1 {
  font-size: 32px;
}

.rte h2 {
  font-size: 24px;
}

.rte h3 {
  font-size: 18px;
}

.rte h4 {
  font-size: 16px;
}

.rte h5 {
  font-size: 14px;
}

.rte h6 {
  font-size: 12px;
}

.rte ul,
.rte ol {
  margin: 20px;
  color: #595959;
}

.rte ul {
  margin-left: 40px;
  list-style-type: disc;
}

.rte ol {
  list-style-type: decimal;
}

.link {
  color: #01579b;
}

.link:hover {
  color: #03a9f4;
}

::-moz-selection {
  color: #fff;
  background-color: #eeeeee;
}

::selection {
  color: #fff;
  background-color: #eeeeee;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.wrapper {
  *zoom: 1;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

.mainHeader {
  padding: 60px 0;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.mainHeader a {
  display: inline-block;
  font: 700 18px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2d2d2d;
}

.mainHeader .logo {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.mainHeader .logo img {
  max-width: 300px;
}

.mainHeader nav {
  margin-left: 55px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.mainHeader nav ul li {
  display: inline-block;
  margin-right: 15px;
  line-height: 32px;
}

.mainHeader nav ul li:last-child {
  margin-right: 0;
}

.mainHeader nav ul li a {
  opacity: 0.85;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: #fff;
  font: 700 13px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mainHeader nav ul li a:hover,
.mainHeader nav ul li a.is-active {
  opacity: 1;
}

.mainHeader .search {
  margin-left: auto;
}

.mainContent {
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 100%;
  margin: 50px auto;
}

.mainFooter {
  padding: 60px 0;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.mainFooter p {
  display: inline-block;
  font: 700 12px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bdc3c7;
  text-transform: uppercase;
}

.mainFooter nav {
  display: inline-block;
}

.mainFooter nav ul {
  margin-left: 20px;
}

.mainFooter nav ul li {
  display: inline-block;
  margin-right: 15px;
  line-height: 36px;
}

.mainFooter nav ul li:last-child {
  margin-right: 0;
}

.mainFooter nav ul li a {
  color: #858585;
  font: 700 13px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mainFooter nav ul li a:hover,
.mainFooter nav ul li a.is-active {
  color: #fff;
}

.mainFooter .author {
  float: right;
  font: 500 12px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bdc3c7;
  text-transform: none;
}

.mainFooter .author a {
  color: inherit;
}

.mainFooter .author a:hover {
  color: #fff;
  text-decoration: underline;
}

.post .wrapper {
  position: relative;
  width: 780px;
}

.post .meta {
  width: 780px;
  padding-top: 30px;
  margin: 0 auto;
  font: 500 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b9b9b9;
}

.post .meta .tags {
  margin-bottom: 30px;
}

.post .meta .tags li {
  margin-left: 7px;
  display: inline-block;
  font: normal 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post .meta .tags li:first-child {
  margin-left: 0;
}

.post .meta .tags li a {
  color: inherit;
}

.post .meta .tags li a:hover {
  text-decoration: underline;
}

.page .post .meta {
  display: none;
}

.formatText {
  padding: 60px 0;
}

.formatText:first-child {
  padding-top: 0;
}

.formatText p {
  margin-bottom: 10px;
}

.formatText .postTitle {
  margin-bottom: 30px;
  font: 700 32px/42px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
}

.formatText .postTitle a {
  color: inherit;
}

.formatText .postTitle a:hover {
  color: #424242;
}

.formatPhoto {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  background: #000;
}

.formatPhoto:first-child {
  margin-top: -50px;
}

.formatPhoto .wrapper {
  width: 1140px;
  margin: 0 auto;
}

.formatPhoto figure {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.formatPhoto figure img {
  max-width: 1280px;
  max-height: 700px;
}

.formatPhoto figure .expand {
  position: absolute;
  top: 30px;
  left: 20px;
}

.formatPhoto figure .expand a {
  font-size: 19px;
  color: #fff;
}

.formatPhoto .meta {
  position: relative;
  padding-top: 25px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.formatPhoto .mainPhoto {
  border-radius: 3px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 1;
}

.formatPhoto .cover {
  position: absolute;
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  background-size: cover !important;
  left: -20px;
  top: -20px;
  opacity: 0.3;
  z-index: 0;
  -webkit-filter: blur(9px);
          filter: blur(9px);
}

.postPremium {
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  font-size: 100px;
  color: gold;
}

.formatPhoto .postPremium {
  top: -20px;
  z-index: 0;
}

.readMore {
  margin-top: 20px;
  font: 500 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b9b9b9;
}

.readMore a {
  color: inherit;
}

.readMore a:hover {
  color: inherit;
  text-decoration: underline;
}

.pagination {
  margin: 30px auto -20px auto;
  overflow: hidden;
  clear: both;
  text-align: center;
  line-height: 18px;
}

.pagination a {
  padding: 0 10px;
  font: 700 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
}

.pagination a:hover {
  color: #01579b;
}

.page-permalink .pagination a {
  font: 700 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagination .paginationPrev {
  float: left;
  padding: 0 !important;
}

.pagination .paginationNext {
  float: right;
  padding: 0 !important;
}

.pagination .fa {
  font-size: 12px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  border: none;
  background: #00559d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

.button:hover {
  background: #0071d0;
}

.button--danger {
  background: #ff7c96;
}

.button--danger:hover {
  background: #ff3b62;
}

.comment {
  padding-bottom: 25px;
  border-bottom: 3px #ecf0f1 solid;
}

.comment:not(:last-child) {
  margin-bottom: 25px;
}

.comment-meta {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.comment-user {
  margin-right: 10px;
  font-weight: bold;
}

.comment-date {
  color: #b9b9b9;
}

.comments-add {
  margin-top: 50px;
}

.form-fieldset {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 300px;
  max-width: 100%;
  margin-bottom: 15px;
}

.form-fieldset:last-child {
  margin-bottom: 0;
}

.form-fieldset.is-wide {
  width: 500px;
}

.form-fieldset.is-full {
  width: 100%;
}

.form-label {
  display: inline-block;
  min-width: 60px;
  margin-right: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
}

.form-field,
.form-textarea,
.form-select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px #ecf0f1 solid;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
}

.form-field.is-invalid,
.form-textarea.is-invalid,
.form-select.is-invalid {
  border-color: #ff7c96;
}

.form-textarea {
  height: 200px;
  padding-top: 10px;
  resize: none;
}

.form-select {
  padding: 0;
  position: relative;
}

.form-select select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
}

.form-select select::-ms-expand {
  display: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 10;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 10;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.message {
  display: none;
  width: 700px;
  max-width: 100%;
  padding: 20px 30px;
  background-color: #9ff29f;
  position: fixed;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: fadeOut 0.5s forwards;
          animation: fadeOut 0.5s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #14af13;
}

.message.is-error {
  background-color: #ff8799;
  color: #bf213c;
}

/**
 * Trumbowyg v2.19.1 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

#trumbowyg-icons {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 0;
}

#trumbowyg-icons svg {
  height: 0;
  width: 0;
}

.trumbowyg-box *,
.trumbowyg-box *::before,
.trumbowyg-box *::after,
.trumbowyg-modal *,
.trumbowyg-modal *::before,
.trumbowyg-modal *::after {
  box-sizing: border-box;
}

.trumbowyg-box svg,
.trumbowyg-modal svg {
  width: 17px;
  height: 100%;
  fill: #222;
}

.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
  min-height: 300px;
  margin: 17px auto;
}

.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

.trumbowyg-box.trumbowyg-fullscreen {
  background: #FEFEFE;
  border: none !important;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.trumbowyg-editor.trumbowyg-autogrow-on-enter,
.trumbowyg-textarea.trumbowyg-autogrow-on-enter {
  -webkit-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
}

.trumbowyg-box-blur .trumbowyg-editor *,
.trumbowyg-box-blur .trumbowyg-editor::before {
  color: transparent !important;
  text-shadow: 0 0 7px #333;
}

@media screen and (min-width: 0 \0 ) {
  .trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}

.trumbowyg-box-blur .trumbowyg-editor img,
.trumbowyg-box-blur .trumbowyg-editor hr {
  opacity: 0.2;
}

.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  font-size: 14px;
  font-family: "Inconsolata", "Consolas", "Courier", "Courier New", sans-serif;
  line-height: 18px;
}

.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
  height: 1px !important;
  width: 25%;
  min-height: 0 !important;
  padding: 0 !important;
  background: none;
  opacity: 0 !important;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
  display: block;
  margin-bottom: 1px;
}

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-editor {
  display: none;
}

.trumbowyg-box.trumbowyg-disabled .trumbowyg-textarea {
  opacity: 0.8;
  background: none;
}

.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
  pointer-events: none;
}

.trumbowyg-button-pane {
  width: 100%;
  min-height: 36px;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0 5px;
  position: relative;
  list-style-type: none;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 11;
}

.trumbowyg-button-pane::after {
  content: " ";
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d7e0e2;
}

.trumbowyg-button-pane .trumbowyg-button-group {
  display: inline-block;
}

.trumbowyg-button-pane .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-button-pane .trumbowyg-button-group::after {
  content: " ";
  display: inline-block;
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
  vertical-align: top;
}

.trumbowyg-button-pane .trumbowyg-button-group:last-child::after {
  content: none;
}

.trumbowyg-button-pane button {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 1px 6px !important;
  margin-bottom: 1px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: none;
  vertical-align: middle;
  -webkit-transition: background-color 150ms, opacity 150ms;
  transition: background-color 150ms, opacity 150ms;
}

.trumbowyg-button-pane button.trumbowyg-textual-button {
  width: auto;
  line-height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.trumbowyg-button-pane.trumbowyg-disable button:not(.trumbowyg-not-disable):not(.trumbowyg-active),
.trumbowyg-button-pane button.trumbowyg-disable,
.trumbowyg-disabled .trumbowyg-button-pane button:not(.trumbowyg-not-disable):not(.trumbowyg-viewHTML-button) {
  opacity: 0.2;
  cursor: default;
}

.trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before,
.trumbowyg-disabled .trumbowyg-button-pane .trumbowyg-button-group::before {
  background: #e3e9eb;
}

.trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-button-pane button.trumbowyg-active {
  background-color: #FFF;
  outline: none;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button {
  padding-left: 10px !important;
  padding-right: 18px !important;
}

.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button::after {
  top: 17px;
  right: 7px;
}

.trumbowyg-button-pane .trumbowyg-right {
  float: right;
}

.trumbowyg-dropdown {
  max-width: 300px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  z-index: 12;
}

.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 20px 0 10px;
  color: #333 !important;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-dropdown button:hover,
.trumbowyg-dropdown button:focus {
  background: #ecf0f1;
}

.trumbowyg-dropdown button svg {
  float: left;
  margin-right: 14px;
}

/* Modal box */

.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 520px;
  width: 100%;
  height: 350px;
  z-index: 12;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 500px;
  width: calc(100% - 20px);
  padding-bottom: 45px;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.trumbowyg-modal-box .trumbowyg-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 0 13px;
  display: block;
  border-bottom: 1px solid #EEE;
  color: #333;
  background: #fbfcfc;
}

.trumbowyg-modal-box .trumbowyg-progress {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 58px;
}

.trumbowyg-modal-box .trumbowyg-progress .trumbowyg-progress-bar {
  background: #2BC06A;
  width: 0;
  height: 100%;
  -webkit-transition: width 150ms linear;
  transition: width 150ms linear;
}

.trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}

.trumbowyg-modal-box label .trumbowyg-input-infos {
  display: block;
  text-align: left;
  height: 25px;
  line-height: 25px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span {
  display: block;
  color: #69878f;
  background-color: #fbfcfc;
  border: 1px solid #DEDEDE;
  padding: 0 7px;
  width: 150px;
}

.trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border: 1px solid #e74c3c;
}

.trumbowyg-modal-box label.trumbowyg-input-error .trumbowyg-input-infos {
  margin-top: -27px;
}

.trumbowyg-modal-box label input {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  line-height: 27px;
  border: 1px solid #DEDEDE;
  background: #fff;
  font-size: 14px;
  max-width: 330px;
  width: 70%;
  padding: 0 7px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box label input:hover,
.trumbowyg-modal-box label input:focus {
  outline: none;
  border: 1px solid #95a5a6;
}

.trumbowyg-modal-box label input:focus {
  background: #fbfcfc;
}

.trumbowyg-modal-box label input[type=checkbox] {
  left: 6px;
  top: 6px;
  right: auto;
  height: 16px;
  width: 16px;
}

.trumbowyg-modal-box label input[type=checkbox] + .trumbowyg-input-infos span {
  width: auto;
  padding-left: 25px;
}

.trumbowyg-modal-box .error {
  margin-top: 25px;
  display: block;
  color: red;
}

.trumbowyg-modal-box .trumbowyg-modal-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 33px;
  margin: 0 10px;
  background-color: #333;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif;
  font-size: 16px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  right: 110px;
  background: #2bc06a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover,
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #40d47e;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #25a25a;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  color: #555;
  background: #e6e6e6;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover,
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #fbfbfb;
  outline: none;
}

.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #d5d5d5;
}

.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  display: none;
  top: 0;
  z-index: 10;
}

/**
 * Fullscreen
 */

body.trumbowyg-body-fullscreen {
  overflow: hidden;
}

.trumbowyg-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.trumbowyg-fullscreen.trumbowyg-box,
.trumbowyg-fullscreen .trumbowyg-editor {
  border: none;
}

.trumbowyg-fullscreen .trumbowyg-editor,
.trumbowyg-fullscreen .trumbowyg-textarea {
  height: calc(100% - 37px) !important;
  overflow: auto;
}

.trumbowyg-fullscreen .trumbowyg-overlay {
  height: 100% !important;
}

.trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #222;
  fill: transparent;
}

.trumbowyg-editor {
  /*
   * lset for resetCss option
   */
}

.trumbowyg-editor object,
.trumbowyg-editor embed,
.trumbowyg-editor video,
.trumbowyg-editor img {
  max-width: 100%;
}

.trumbowyg-editor video,
.trumbowyg-editor img {
  height: auto;
}

.trumbowyg-editor img {
  cursor: move;
}

.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  color: #333;
}

.trumbowyg-editor.trumbowyg-reset-css a {
  color: #15c !important;
  text-decoration: underline !important;
}

.trumbowyg-editor.trumbowyg-reset-css div,
.trumbowyg-editor.trumbowyg-reset-css p,
.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol,
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  box-shadow: none !important;
  background: none !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
  line-height: 1.4em !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  border: none;
}

.trumbowyg-editor.trumbowyg-reset-css iframe,
.trumbowyg-editor.trumbowyg-reset-css object,
.trumbowyg-editor.trumbowyg-reset-css hr {
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css blockquote {
  margin-left: 32px !important;
  font-style: italic !important;
  color: #555;
}

.trumbowyg-editor.trumbowyg-reset-css ul {
  list-style: disc;
}

.trumbowyg-editor.trumbowyg-reset-css ol {
  list-style: decimal;
}

.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol {
  padding-left: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css ul ul,
.trumbowyg-editor.trumbowyg-reset-css ol ol,
.trumbowyg-editor.trumbowyg-reset-css ul ol,
.trumbowyg-editor.trumbowyg-reset-css ol ul {
  border: none;
  margin: 2px !important;
  padding: 0 !important;
  padding-left: 24px !important;
}

.trumbowyg-editor.trumbowyg-reset-css hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid #CCC;
}

.trumbowyg-editor.trumbowyg-reset-css h1,
.trumbowyg-editor.trumbowyg-reset-css h2,
.trumbowyg-editor.trumbowyg-reset-css h3,
.trumbowyg-editor.trumbowyg-reset-css h4 {
  color: #111;
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

.trumbowyg-editor.trumbowyg-reset-css h1 {
  font-size: 32px !important;
  line-height: 38px !important;
  margin-bottom: 20px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h2 {
  font-size: 26px !important;
  line-height: 34px !important;
  margin-bottom: 15px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin-bottom: 7px !important;
}

.trumbowyg-editor.trumbowyg-reset-css h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 7px !important;
}

/*
 * Dark theme
 */

.trumbowyg-dark .trumbowyg-textarea {
  background: #111;
  color: #ddd;
}

.trumbowyg-dark .trumbowyg-box {
  border: 1px solid #343434;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-fullscreen {
  background: #111;
}

.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
  text-shadow: 0 0 7px #ccc;
}

@media screen and (min-width: 0 \0 ) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

@supports (-ms-accelerator: true) {
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *,
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}

.trumbowyg-dark .trumbowyg-box svg {
  fill: #ecf0f1;
  color: #ecf0f1;
}

.trumbowyg-dark .trumbowyg-button-pane {
  background-color: #222;
  border-bottom-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane::after {
  background: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty)::after {
  background-color: #343434;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) .trumbowyg-fullscreen-button svg {
  color: transparent;
}

.trumbowyg-dark .trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::after {
  background-color: #2a2a2a;
}

.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):hover,
.trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):focus,
.trumbowyg-dark .trumbowyg-button-pane button.trumbowyg-active {
  background-color: #333;
}

.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  border-top-color: #fff;
}

.trumbowyg-dark .trumbowyg-fullscreen .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) .trumbowyg-fullscreen-button svg {
  color: #ecf0f1;
  fill: transparent;
}

.trumbowyg-dark .trumbowyg-dropdown {
  border-color: #222;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.trumbowyg-dark .trumbowyg-dropdown button {
  background: #333;
  color: #fff !important;
}

.trumbowyg-dark .trumbowyg-dropdown button:hover,
.trumbowyg-dark .trumbowyg-dropdown button:focus {
  background: #222;
}

.trumbowyg-dark .trumbowyg-modal-box {
  background-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-title {
  border-bottom: 1px solid #555;
  color: #fff;
  background: #3c3c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #222;
}

.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border-color: #e74c3c;
}

.trumbowyg-dark .trumbowyg-modal-box label input {
  border-color: #222;
  color: #eee;
  background: #333;
}

.trumbowyg-dark .trumbowyg-modal-box label input:hover,
.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  border-color: #626262;
}

.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  background-color: #2f2f2f;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  background: #1b7943;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover,
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #25a25a;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #176437;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  background: #333;
  color: #ccc;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover,
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #444;
}

.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #111;
}

.trumbowyg-dark .trumbowyg-overlay {
  background-color: rgba(15, 15, 15, 0.6);
}

@media only screen and (max-width: 1280px) {
  .formatPhoto figure {
    width: 90%;
  }

  .formatPhoto figure img {
    max-width: 100%;
    max-height: 700px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }

  .post .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }

  .post .wrapper {
    width: 90%;
  }

  .post .meta {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .formatText .meta {
    width: 90%;
  }

  .message {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .mainHeader nav {
    display: none;
  }

  .mainFooter {
    text-align: center;
  }

  .mainFooter .author {
    float: none;
  }
}

